*::before,
**::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.fa-solid:hover {
  transition: all 0.3s ease;
  scale: 1.6;
}
