.site--header {
    &__add {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 0%;
        background-color: black;
        color: white;
        text-align: center;
        align-items: center;
    }
    &__link {
        text-decoration: underline;
        color: white;
        
    }
}